<%# locals: (weather:) -%>
<div class="card mb-4" style="border-radius: 25px;">
    <div class="card-body p-4">
        <div class="carousel-inner">
            <div class="carousel-item active" id="hourly_weather_section">
                <strong> Hourly Forecast </strong>
                <div class="d-flex justify-content-around text-center mb-4 pb-3 pt-2">
                    <% @weather['days'][0]['hours'].each do |hour| %>
                        <div class="flex-column">
                            <p class="large"><strong><%= hour['temp'] %>°F</strong></p>
                            <i class="fas <%= @weather_icons[hour['icon']] %> fa-2x mb-3" style="color: #ddd;"></i>
                            <p class="mb-0"><strong><%= hour['datetime'][0...5] %></strong></p>
                        </div>
                    <% end %>
                </div>
            </div>    
        </div>        
    </div>            
</div>                

